<section id="contacto">
  <h2>Contacto</h2>
  <form action="/contacto" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

     <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje..." required></textarea>

    <button type="submit">Enviar</button>
  </form>
</section>
