 
 <%- include("partials/nav") %>
        <!-- Sección Proyectos -->
        <section id="proyectos">
            <h2>Proyectos</h2>
            <ul>
                <li>Proyecto 1 - Página web básica</li>
                <li>Proyecto 2 - Tienda online</li>
                <li>Proyecto 3 - App del clima</li>
            </ul>

        </section>
        <!-- Botón para volver al inicio -->
  <a href="/" class="btn-volver">⬅ Volver al inicio</a>
  
