body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #88888b;
    color: #333;
}

/* Menú */
header {
    background-color: #746f6f;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0px;
    padding: 10px;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* Contenido */
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

section h2, section h1 {
    color: #746f6f;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:#746f6f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #746f6f;
}

/* Footer */
footer {
    background-color: #746f6f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }
}
